<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <a href="{% url 'student_create' %}">Add New Student</a>
    <ul>
        {% for student in students %}
            <li>
                {{student.id}} {{ student.first_name }} {{ student.last_name }} {{student.date_of_birth}}  {{student.email}} {{student.enrollment_date}}  - 
                <a href="{% url 'student_update' student.id %}">Edit</a> | 
                <a href="{% url 'student_delete' student.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
